body{
  background-image: url("../pics/tiles/brickTile.jpg");
  background-repeat: repeat;
}
.App {

  height: 100vh;
  width: 100vw;
  padding:0;
  margin: 0;
  color: #CDE;
  font-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container{
  display: grid;
  height: 80vh;
  width: 85vw;
  margin: 0vh auto;
  padding: 0;
  grid-gap: 10px;
  grid-template-columns: 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw ;
  grid-template-rows: 14vh 14vh 14vh 14vh 14vh 14vh;
  justify-content: center;
  align-content: center;
}
.menuBox{
  border: 3px solid #89B;
  padding: 0;
  margin: 0;
  width: 100%;
  height:100%;
  background: #456;
}
#charPic{
  grid-column: 1/5;
  grid-row-start: 1;
  grid-row-end: 4;
  height:100%;
  width:100%;
}
#combatLog{
  grid-column: 5/9;
  grid-row-start: 1;
  grid-row-end: 4;
  height:100%;
  width:100%;
}
#enemyPic{
  grid-column: 9/13;
  grid-row-start: 1;
  grid-row-end: 4;
  height:100%;
  width:100%;
}
#items{
  grid-column: 1/5;
  grid-row-start: 4;
  grid-row-end: 8;
  height:100%;
  width:100%;
}
#moveList{
  grid-column: 5/9;
  grid-row-start: 4;
  grid-row-end: 8;
  height:100%;
  width:100%;
}
#loot{
  grid-column: 9/13;
  grid-row-start: 4;
  grid-row-end: 8;
  height:100%;
  width:100%;
}
#equipment{
  grid-column: 1/5;
  grid-row-start: 1;
  grid-row-end: 4;
  height:100%;
  width:100%;
}
#playerStats{
  grid-column: 5/9;
  grid-row-start: 1;
  grid-row-end: 4;
  height:100%;
  width:100%;
}
#enemyStats{
  grid-column: 9/13;
  grid-row-start: 1;
  grid-row-end: 4;
  height:100%;
  width:100%;
}
#equipmentMobile{
  display:none;
}
#itemsMobile{
  display:none;
}
#mobileNavButtons{
  display: none;
}
.hpBar{
  display: flex;
  width: 140px;
  height: 10px;
  margin: 5px 0px 0px 10px;
}
.hpBarAndText{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 10px;
}
.hpTick{
  height: 10px;
  width:10px;
  background: green;
  border: 1px solid black;
}
.mpTick{
  height: 10px;
  width:10px;
  background: #05C;
  border: 1px solid black;
}
.listNoStyle{
  list-style: none;
  list-style-type: none;
  margin: 0px;
}
.eqButtonAndIcon{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.itemPic{
  display: flex;

}
.eqIcon{
  width:100%;
  height:100%;
}
.eqSlot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1vw;
}
ul li {
  margin: 0px;
  display: flex;
}
textarea{
  resize: none;
  height: 89%;
  width: 100%;
  background: transparent;
  border: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
#equipmentList{
  list-style: none;
  margin: 0px;
  padding-left: 1vw;
}
#classButtons{
  grid-column: 1/5;
  grid-row-start: 1;
  grid-row-end: 8;
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
Button{
    background: #346;
    color: aliceblue;
    font-size: 1em;
    border: 2px solid #89B;
    border-radius: 0px 10px 10px 10px;
}
Button:hover{
  border: 2px solid white;
}
Button:active{
  box-shadow: 0 2px #89B;
  transform: translateY(2px);
}
#invItems Button{
  width: 2vw;
  height: 20px;
  padding: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#eqlist Button{
  width: 100%;
  height: 100%;
  padding: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.menuHeader {
  text-align: center;
  margin: 4px;
}
#stackableItems Button {
  width: 10vw;
}
#classDescriptions{
  grid-column: 5/12;
  grid-row-start: 1;
  grid-row-end: 8;
}
h3{
  margin: 0;
}
p {
  margin: 2px;
}
.charPicHolder{
  margin: 10px auto;
  width:25vw;
  height:25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.characterPic{
  height:100%;
  width: 70%;
  max-height:100%;
  max-width: 70%;
  border: 3px solid #89B;
  border-radius: 0px 10px 10px 10px
}
.enemyPicHolder{
  margin: 10px auto;
  width:20vw;
  height:25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.enemyPic{
  height:100%;
  border: 3px solid #89B;
  border-radius: 0px 10px 10px 10px
}
.chestPic{
  height:80%;
  border: 3px solid #89B;
}
.buttonList{
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 950px){
  #charPic,
  #combatLog,
  #enemyPic,
  #items,
  #moveList,
  #loot,
  #equipment,
  #playerStats,
  #enemyStats {
    display:none;
  }
  #mobileNavButtons{
    display: flex;
    flex-direction: column;
    grid-column: 12/13;
    grid-row-start: 1;
    grid-row-end: 8;
  }
  #mobileNavButtons Button{
    width: 100%;
    height:50%;
    border-radius: 0px;
  }
  #equipmentMobile Button{
    width:100%;
    height:100%;
  }
  #equipmentMobile Img{
    height:100%;
  }
  #equipmentMobile{
    display: block;
    grid-column: 1/12;
    grid-row-start: 1;
    grid-row-end: 4;
    height:100%;
    width:100%;
  }
  .eqItemName{
    display: flex;
    justify-content: flex-end;
  }
  #eqMobileGrid{
    display:grid;
    margin: 0 auto;
    padding: 0;
    grid-gap: 5px;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw;
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh;
    justify-content: center;
    align-content: center;
    height: 40vh;
    width: 80vw;
  }
  #eqMainHandButton{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
  }
  #eqMainHandIcon{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
  }
  #eqMainHandName{
    grid-column: 3/6;
    grid-row: 1/2;
  }
  #eqOffHandButton{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
  }
  #eqOffHandIcon{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #eqOffHandName{
    grid-column: 3/6;
    grid-row: 2/3;
  }
  #eqHeadButton{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
  }
  #eqHeadIcon{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #eqHeadName{
    grid-column: 3/6;
    grid-row: 3/4;
  }
  #eqBodyButton{
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
  }
  #eqBodyIcon{
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #eqBodyName{
    grid-column: 3/6;
    grid-row: 4/5;
  }
  #eqRingButton{
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
  }
  #eqRingIcon{
    grid-column: 2/3;
    grid-row: 5/6;
    height:100%;
    width:100%;
  }
  #eqRingName{
    grid-column: 3/6;
    grid-row: 5/6;
  }
  #itemsMobile{
    display: block;
    grid-column: 1/12;
    grid-row-start: 4;
    grid-row-end: 8;
    height:100%;
    width:100%;
  }
}
